@using TopTrumps.Data.DTOs

<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
        <EditForm Model="@Card" OnValidSubmit="@InvokeSubmitMethod">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="name">Name</label>
                <InputText id="name" @bind-Value="Card.Name" class="form-control" />
            </div>

            <div class="form-group">
                <label for="Type">Type</label>
                <InputText id="Type" @bind-Value="Card.Type" class="form-control" />
            </div>

            <div class="form-group">
                <label for="ABV">ABV</label>
                <InputNumber id="ABV" @bind-Value="Card.ABV" class="form-control" />
            </div>

            <div class="form-group">
                <label for="Accessibility">Accessibility</label>
                <InputNumber id="Accessibility" @bind-Value="Card.Accessibility" class="form-control" />
            </div>

            <div class="form-group">
                <label for="Reputation">Reputation</label>
                <InputNumber id="Reputation" @bind-Value="Card.Reputation" class="form-control" />
            </div>

            <div class="form-group">
                <label for="Popularity">Popularity</label>
                <InputNumber id="Popularity" @bind-Value="Card.Popularity" class="form-control" />
            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                <InputTextArea id="Description" @bind-Value="Card.Description" class="form-control" />
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </EditForm>
    </div>
</div>

@code {

    [Parameter]
    public Action OnSubmit { get; set; }

    [Parameter]
    public Card Card { get; set; }

    private void InvokeSubmitMethod()
    {
        OnSubmit?.Invoke();
    }
}
