@page "/cards"
@using TopTrumps.Data.DTOs
@using TopTrumps.Data.Services
@using TopTrumps.WebApp.Components

@inject ICardsService CardsService

@attribute [Authorize(Roles = "Admin")]

<h3>
    Cards
</h3>

<div class="row">
    <div class="col-12">
        <NavLink class="btn btn-primary float-right" href="/cards/new">
            <span class="oi oi-home" aria-hidden="true"></span> Add New Card
        </NavLink>
    </div>
</div>
<br />

<div class="row">
    @foreach (var card in _cards)
    {
        <CardComponent Card="card" />
    }
</div>

@code
{
    private IEnumerable<Card> _cards = new List<Card>();

    protected override async Task OnInitializedAsync()
    {
        _cards = await CardsService.GetAllCards();
    }
}
