@page "/my-collection"

@using TopTrumps.Data.DTOs
@using TopTrumps.WebApp.Components
@using System.Data.SqlClient
@using Dapper
@using TopTrumps.Data.Services

@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>My Collection</h3>

<div class="row">
    @foreach (var card in _cardsCollection)
    {
        <CardComponent Card="card" />
    }
</div>

@code {
    private List<Card> _cardsCollection = new List<Card>();

    protected override void OnInitialized()
    {
       _cardsCollection = // TODO:
    }
}
