@page "/my-collection"

@using TopTrumps.Data.DTOs
@using TopTrumps.WebApp.Components
@using System.Data.SqlClient
@using Dapper
@using TopTrumps.Data.Services
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor

@inject ICardsService CardsService

@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>My Collection</h3>

<div class="row">
    @foreach (var card in _cardsCollection)
    {
        <CardComponent Card="card" />
    }
</div>

@code {
    private List<PlayersCard> _cardsCollection = new List<PlayersCard>();

    protected override async Task OnInitializedAsync()
    {
        _cardsCollection = (await CardsService.GetPlayersCollection(httpContextAccessor.HttpContext.User.Identity.Name)).ToList();
    }
}
