@page "/users"
@using TopTrumps.Data.DTOs
@using TopTrumps.Data.Services
@using TopTrumps.WebApp.Components


@inject IUsersService _usersService

@attribute [Authorize(Roles = "Admin")]

<h3>Users</h3>

@code {

}
