@page "/users"
@using TopTrumps.Data.DTOs
@using TopTrumps.Data.Services
@using TopTrumps.WebApp.Components


@inject IUsersService _usersService

@attribute [Authorize(Roles = "Admin")]

<h3>Users</h3>

@code {

    private IEnumerable<User> _Users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        _usersService = await IUsersService.GetAllUsers();
    }
}
