@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('file:\\\C:/Users/dacht/source/repos/Source/Top-Trumps/Design/toptrumps-front-page.jpg');
 
    }

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #2b2b2b;
    border: 4px solid black;
    border-color: #f2c51f;
    border-radius: 12px;
}
    .btn-primary:hover {
        background-color: #f2c51f;
        border-color: #2b2b2b;
        color: #2b2b2b;
    }

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    
}

.main {
    flex: 1;
   
}

    .main .top-row {
        background-color: #3d3c3a;
        border-bottom: 2px solid #ebae1f;
        border-top: 2px solid #ebae1f;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
            color: #f2c51f;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    border-left: 2px solid #ebae1f;
    box-shadow: 0px 0px 3px 1px #ebae1f;
    background-color: #3d3c3a;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
        border-top: 2px solid #ebae1f;
        
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.card-border {
    border: 9px solid lightslategrey;
    max-width: 25rem;
    height: 520px;
}

.card-color {
    color: lightslategrey;
    background-color: darkblue;
    height: 502px;
}




.card-text {
    color: #030100;
}

.card-description {
    border: 2px solid black;
    text-align: center;
    color: white;
    line-height: 1.2em;
}

.top-trumps-card {
    background-color: #2b2b2b;
    border-radius: 12px;
    height: 500px;
    padding: 10px;
    width: 250px;
    float: left;
    margin: 5px;

}

    .top-trumps-card:hover {
        background-color: #2b2b2b;
        border-color: #2b2b2b;
        box-shadow: 5px 10px #888888;
        cursor: pointer;
    }

.top-trumps-card-inner {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 3px 1px #ebae1f;
    background-color: #3d3c3a;
}

.card-title {
    text-align: center;
    color: #f2c51f;
    text-align: center;
    font-family: Cooper;
    -webkit-text-stroke: 2px black;
}

hr.title {
    border: 1px solid black;
}

.card-type {
    color: #f2c51f;
    text-align: center;
    font-family: Cooper;
}

.table {
    align-content: center;
}

.table-row {
    background-color: #f2c51f;
    border-top: 3px solid #262629;
    border-bottom: 3px solid #262629;
    padding: -0.25rem;
    box-shadow: 0px 3px 3px 0px #0f044a;
    font-family: Cooper;
}

.table td {
    padding: 0rem;
}

.table-row td {
    padding-left: 0.5rem;
}


.btn-edit-card {

    border-radius: 12px;
    color: white;
}

.modal-top-trumps-card {
    background-color: #2b2b2b;
    border-radius: 12px;
    height: 850px;
    padding: 10px;
    width: 427px;
    float: left;
    margin: 5px;
}

.modal-card-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.modal-card-type {
    color: #f2c51f;
    text-align: center;
    font-family: Cooper;
    font-size: 30px;
}

.modal-card-description {
    border: 2px solid black;
    text-align: center;
    color: white;
    line-height: 1.2em;
    font-size: 22px;
}
.modal-table-row {
    background-color: #f2c51f;
    border-top: 3px solid #262629;
    border-bottom: 3px solid #262629;
    padding: -0.25rem;
    padding-left: 15px;
    box-shadow: 0px 3px 3px 0px #0f044a;
    font-family: Cooper;
    font-size: 24px;
}

.SearchBar {
    overflow: hidden;
    background-color: #e9e9e9;
    width: 100%;
}